.container__slider{
    margin-top: 20px;
    text-align: center;
}
#slider {
    -webkit-appearance: none;
    width: 85%;
    height: 7px;
    background-color: hsl(224, 65%, 95%);
    
    display: inline-block;
    outline: none;
    border-radius: 25px;
    
}
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.4rem;
    width: 2.4rem;
    align-self: center;

    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;

    background-color: hsl(174, 86%, 45%);
    border-radius: 25px;  
    
}

@media (max-width:640px){
    #slider::-webkit-slider-thumb{
        height: 3.5rem;
        width: 3.5rem;
    }
}

