.container__slider{
    margin-top: 20px;
    text-align: center;
}
#slider {
    -webkit-appearance: none;
    width: 85%;
    height: 7px;
    /* background-color: hsl(224, 65%, 95%); */
    background: linear-gradient(to right, hsl(174, 77%, 80%) 0%, hsl(174, 77%, 80%) 50%, hsl(224, 65%, 95%) 51%, hsl(224, 65%, 95%) 100%);
    
    display: inline-block;
    outline: none;
    border-radius: 25px;

    
}
#slider::-moz-range-progress{
    background-color: hsl(174, 77%, 80%);
}
/* #slider::-webkit-slider-runnable-track{

} */
#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.4rem;
    width: 2.4rem;
    align-self: center;

    background-image: url("/images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: center;

    background-color: hsl(174, 86%, 45%);
    border-radius: 25px;  

    z-index: 5;  
}

@media (max-width:640px){
    #slider::-webkit-slider-thumb{
        height: 3.5rem;
        width: 3.5rem;
    }
}

